@page "/"
@layout Layout.MainLayout
@rendermode InteractiveServer

@using Microsoft.Extensions.Logging;
@using System.IO;
@using Models.ViewModels
@using Models.DTO.Analyze

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ILogger<Home> logger
@inject HttpClient httpClient
@inject IOptions<Settings> Settings

<PageTitle>Home</PageTitle>

@if (!string.IsNullOrEmpty(imageDataUrl))
{   
    <div class="image-data-container">
        <img src="@imageDataUrl" alt="Image" class="user-card"/>
        <div class="data-container">
            <span class="user-info-card">race</span>
            <span class="user-info-card">age</span>
            <span class="user-info-card">gender</span>
            <span class="user-info-card">mood</span>
            <span class="user-info-card">geo</span>
            <span class="user-info-card">some</span>
            <span class="user-info-card">else</span>
            <span class="user-info-card">words</span>
            <span class="user-info-card">written</span>
        </div>
    </div>
}

<div class="home-container">
    @if (_imageBytes is not null)
    {
        // Add img and css
    }
    @if (_errorMessage is not null)
    {
        <p>@_errorMessage</p>
    }
    @if (_data is not null)
    {
        for (int i = 0; i < _data.Length; i++)
        {
            <h4>@(i + 1) face:</h4>
            foreach (var property in typeof(AnalyzeDTO).GetProperties())
            {
                <p>@property.Name: @property.GetValue(_data[i])</p>
            }
        }
    }
    @if(!_loading)
    {
        <p class="text-handler">Upload your photo or video...</p>
    }   
    <div class="upload-button-container">
        @if(_loading)
        {
            <div class="spinner-wrapper">
                <div class="spinner">
                    <div class="sk-folding-cube">
                        <div class="sk-cube1 sk-cube"></div>
                        <div class="sk-cube2 sk-cube"></div>
                        <div class="sk-cube4 sk-cube"></div>
                        <div class="sk-cube3 sk-cube"></div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <button class="button upload-button" style="position: relative;">
                Upload
                <InputFile OnChange="LoadFile" accept="image/*" class="input-file" />
            </button>
        }
    </div>
</div>

@code {
    private Dictionary<string, bool> _actions = new()
    { {"age", true}, {"emotion", true}, {"gender", true}, {"race", true} };
    private byte[]? _imageBytes;
    private bool _loading = false;
    private AnalyzeDTO[]? _data;
    private string? _errorMessage;
  
    private void ClearData()
    {
        _data = null;
        _loading = true;
        _errorMessage = null;
    }
  
    private async Task LoadFile(InputFileChangeEventArgs e)
    {
        ClearData();

        var file = e.File;

        if(file is null || !file.ContentType.StartsWith("image"))
        {
            _loading = false;
            return;
        }

        if (file.Size > Settings.Value.Api.MaxFileSize)
        {
            _loading = false;
            _errorMessage = "File size > 5MB.";
        }

        var buffer = new byte[file.Size];
        await file.OpenReadStream().ReadAsync(buffer);

        string mimeType = file.ContentType;
        imageDataUrl = $"data:{mimeType};base64,{Convert.ToBase64String(buffer)}";
        StateHasChanged();

        try
        {
            using var memoryStream = new MemoryStream();
            await file.OpenReadStream(maxAllowedSize: Settings.Value.Api.MaxFileSize)
                .CopyToAsync(memoryStream);
            _imageBytes = memoryStream.ToArray();
        }
        catch (Exception ex)
        {
            _loading = false;
            logger.LogError(ex.Message);
            return;
        }

        var jsonContent = JsonSerializer.Serialize(new AnalyzeViewModel 
        { 
            B64img = $"data:{file.ContentType};base64,{Convert.ToBase64String(_imageBytes)}", 
            Actions = _actions
        });
        var content = new StringContent(jsonContent, Encoding.UTF8, "application/json");

        try
        {
            var response = await httpClient
                .PostAsync(Settings.Value.Api.Analyze, content);
            response.EnsureSuccessStatusCode();
            
            var serialized_data = await response.Content.ReadAsStringAsync();
            
            logger.LogInformation("API response:\n" + serialized_data);

            _data = JsonSerializer.Deserialize<AnalyzeDTO[]>(serialized_data);
        }
        catch(Exception ex)
        {
            logger.LogError(ex.Message);
            return;
        }
        finally
        {
            _loading = false;
        }
    }
}   