@page "/"
@layout Layout.MainLayout
@rendermode InteractiveServer

@using Microsoft.Extensions.Logging;
@using System.IO;
@using Models.ViewModels
@using Models.DTO.Analyze

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ILogger<Home> logger
@inject HttpClient httpClient
@inject Microsoft.Extensions.Options.IOptions<Settings> Settings

<PageTitle>Home</PageTitle>

@if (!string.IsNullOrEmpty(_imageSource) && _data is not null)
{   
    <div>
        <div class="user-card-container">
            <img src="@_imageSource" alt="Image" class="user-card"/>
        </div>
        <div class="data-container">
            @foreach (var f in _data)
            {
                var reg = f.Region;
                <span class="user-info-card">Region: X=@reg.X Y=@reg.Y W=@reg.W H=@reg.H</span>
                <span class="user-info-card">Face confidence: @f.FaceConfidence</span>
                <span class="user-info-card">Age: @f.Age</span>
                var e = f.Emotion;
                <span class="user-info-card">Emotion: Angry=@e.Angry Disgust=@e.Disgust Fear=@e.Fear Happy=@e.Happy Sad=@e.Sad Surprise=@e.Surprise Neutral=@e.Neutral</span>
                <span class="user-info-card">Dominant emotion: @f.DominantEmotion</span>
                var g = f.Gender;
                <span class="user-info-card">Gender: Woman=@g.Woman Man=@g.Man</span>
                <span class="user-info-card">Dominant gender: @f.DominantGender</span>
                var r = f.Race;
                <span class="user-info-card">Race: Asian=@r.Asian Indian=@r.Indian Black=@r.Black White=@r.White MiddleEastern=@r.MiddleEastern LatinoHispanic=@r.LatinoHispanic</span>
                <span class="user-info-card">Dominant race: @f.DominantRace</span>                
            }
        </div>
    </div>
}

<div class="home-container">
    @if (_errorMessage is not null)
    {
        <p>@_errorMessage</p>
    }
    @if(!_loading)
    {
        <p class="text-handler">Upload your photo...</p>
        <div class="upload-button-container">
            <button class="button upload-button" style="position: relative;">
                Upload
                <InputFile OnChange="LoadFile" accept="image/*" class="input-file" />
            </button>
        </div>
    }   
    else
    {
        <div class="upload-button-container">
            <div class="spinner-wrapper">
                <div class="spinner">
                    <div class="sk-folding-cube">
                        <div class="sk-cube1 sk-cube"></div>
                        <div class="sk-cube2 sk-cube"></div>
                        <div class="sk-cube4 sk-cube"></div>
                        <div class="sk-cube3 sk-cube"></div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@code {
    private Dictionary<string, bool> _actions = new()
    { {"age", true}, {"emotion", true}, {"gender", true}, {"race", true} };
    private bool _loading = false;
    private AnalyzeDTO[]? _data;
    private string? _errorMessage;
    private string? _imageSource;
  
    private void ClearData()
    {
        _imageSource = null;
        _loading = true;
        _errorMessage = null;
        _data = null;
    }
  
    private async Task LoadFile(InputFileChangeEventArgs e)
    {
        ClearData();

        var file = e.File;

        if(file is null || !file.ContentType.StartsWith("image"))
        {
            _loading = false;
            return;
        }

        if (file.Size > Settings.Value.Api.MaxFileSize)
        {
            _loading = false;
            _errorMessage = "File size > 5MB.";
            return;
        }

        try
        {
            using var memoryStream = new MemoryStream();
            await file.OpenReadStream(maxAllowedSize: Settings.Value.Api.MaxFileSize)
                .CopyToAsync(memoryStream);
            _imageSource = $"data:{file.ContentType};base64,{Convert.ToBase64String(memoryStream.ToArray())}";
            StateHasChanged();
        }
        catch (Exception ex)
        {
            _loading = false;
            logger.LogError(ex.Message);
            return;
        }

        var jsonContent = JsonSerializer.Serialize(new AnalyzeViewModel 
        { 
            B64img = _imageSource, 
            Actions = _actions
        });
        var content = new StringContent(jsonContent, Encoding.UTF8, "application/json");

        try
        {
            var response = await httpClient.PostAsync(Settings.Value.Api.Analyze, content);
            response.EnsureSuccessStatusCode();
            
            var serialized_data = await response.Content.ReadAsStringAsync();
            
            logger.LogInformation("API response:\n" + serialized_data);

            _data = JsonSerializer.Deserialize<AnalyzeDTO[]>(serialized_data);
        }
        catch(Exception ex)
        {
            logger.LogError(ex.Message);
            return;
        }
        finally
        {
            _loading = false;
        }
    }
}   